In [40]:
import pandas as pd
import numpy as np
from unidecode import unidecode

In [3]:
basepath = 'C:/Users/fate8/Desktop/PI2/'

In [4]:
internet = basepath + 'data/Internet.xlsx'
portabilidad = basepath + 'data/Portabilidad.xlsx'
servicios_postales = basepath + 'data/servicios_postales.xlsx'
telefonia_fija = basepath + 'data/Telefonia_fija.xlsx'
mapa_conectividad = basepath + 'data/mapa_conectividad.xlsx'

In [5]:
df_CP1 = pd.read_excel(internet ,sheet_name= 'Velocidad % por prov')
df_CP2 = pd.read_excel(internet ,sheet_name= 'Penetración-poblacion')
df_CP3 = pd.read_excel(internet ,sheet_name= 'Penetracion-hogares')
df_CP4 = pd.read_excel(internet ,sheet_name= 'Penetracion-totales')
df_CP5 = pd.read_excel(internet ,sheet_name= 'Accesos por velocidad')
df_CP6 = pd.read_excel(internet ,sheet_name= 'Ingresos')

df_CC1 = pd.read_excel(mapa_conectividad ,sheet_name= 'Hoja3')
df_CC2 = pd.read_excel(portabilidad ,sheet_name= 'Portin')
df_CC3 = pd.read_excel(servicios_postales ,sheet_name= 'unidades_telegraficas')
df_CC4 = pd.read_excel(servicios_postales ,sheet_name= 'unidades_monetarios')
df_CC5 = pd.read_excel(telefonia_fija ,sheet_name= 'Fija_ingresos')

   # Índice

   1. [Drop columns](#drop-columns)
   2. [Order](#order)
   3. [Rename](#rename)

In [14]:
df_CP1 = df_CP1.reset_index()
df_CP2 = df_CP2.reset_index()
df_CP3 = df_CP3.reset_index()

In [12]:
df_CP2

(960, 4)

In [19]:
df_CP3

     index   Año  Trimestre            Provincia  Accesos por cada 100 hogares
0        0  2023          4         Buenos Aires                     80.960000
1        1  2023          4      Capital Federal                    117.020000
2        2  2023          4            Catamarca                     68.630000
3        3  2023          4                Chaco                     44.350000
4        4  2023          4               Chubut                     84.960000
..     ...   ...        ...                  ...                           ...
955    955  2014          1           Santa Cruz                     28.939093
956    956  2014          1             Santa Fe                     47.847663
957    957  2014          1  Santiago Del Estero                     16.309924
958    958  2014          1     Tierra Del Fuego                     63.965926
959    959  2014          1              Tucumán                     33.420975

[960 rows x 5 columns]

### Drop Columns

### Order

### Rename

### Dataframes Limpios

In [35]:
df_maps = pd.merge(df_CP1, df_CP2, on= 'index', how= 'inner')
df_maps = pd.merge(df_maps, df_CP3, on= 'index', how= 'inner')

In [45]:
df_maps = df_maps[['index','Provincia','Mbps (Media de bajada)','Accesos por cada 100 hab','Accesos por cada 100 hogares']]
df_maps['Provincia'] = df_maps['Provincia'].str.upper()
df_maps['Provincia'] = df_maps['Provincia'].apply(unidecode)

C:\Users\fate8\AppData\Local\Temp\ipykernel_9024\4008800734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maps['Provincia'] = df_maps['Provincia'].str.upper()
C:\Users\fate8\AppData\Local\Temp\ipykernel_9024\4008800734.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maps['Provincia'] = df_maps['Provincia'].apply(unidecode)

In [7]:
#Encontramos la longitud y latitud promedio de cada provincia.
df_CC1 = df_CC1[['Provincia', 'Latitud', 'Longitud']]
df_provincias = df_CC1.groupby('Provincia').agg({'Latitud': 'mean', 'Longitud': 'mean'}).reset_index()

In [29]:
df_provincias

              Provincia    Latitud   Longitud
0          BUENOS AIRES -35.633728 -59.695393
1                  CABA -34.612765 -58.450153
2             CATAMARCA -27.972735 -66.127140
3                 CHACO -26.862077 -60.155117
4                CHUBUT -44.077152 -68.667653
5               CORDOBA -31.846608 -63.962146
6            CORRIENTES -28.615781 -57.975336
7            ENTRE RIOS -31.925168 -59.263021
8               FORMOSA -25.093160 -59.468602
9                 JUJUY -23.523573 -65.438053
10             LA PAMPA -36.477142 -64.455341
11             LA RIOJA -29.330864 -67.139835
12              MENDOZA -33.368796 -68.685346
13             MISIONES -27.058215 -54.967249
14              NEUQUEN -38.499543 -69.874212
15            RIO NEGRO -39.896450 -67.610511
16                SALTA -24.248014 -64.702507
17             SAN JUAN -31.314426 -68.503344
18             SAN LUIS -32.982646 -65.886839
19           SANTA CRUZ -48.863730 -69.863734
20             SANTA FE -31.646343 -61.047261
21  SANTIAGO DEL ESTERO -27.784104 -63.621900
22     TIERRA DEL FUEGO -62.350152 -59.531910
23              TUCUMAN -26.998180 -65.294537

In [46]:
df_maps = pd.merge(df_maps,df_provincias, on= 'Provincia', how= 'left')

In [48]:
df_maps.to_csv('df_maps.csv',index= False)